body {
    background-color: lavenderblush;
    color:firebrick;
    padding: 10px;
    font-size:13pt
}

header {
    background: linear-gradient(to right, red, orange, yellow, green, skyblue, blue, purple);
    color: lavenderblush;
    padding: 10px;
    font-size:13pt
}

header:hover {
    color: black;
    font-weight: bold;
    opacity: 0.5s;
    transition: 800ms 0.3s;
}

header:active {
    color: purple;
    font-size: 20px;
    transition: 0.3s;
}

footer {
    background: linear-gradient(to right, red, orange, yellow, green, skyblue, blue, purple);
    color: black;
    padding: 10px;
    font-size:13pt;
    text-align: right 
}

footer:hover {
    color: firebrick;
    font-weight: bold;
    opacity: 0.5s;
    transition: 800ms 0.3s;
}

footer:active {
    color: black;
    font-size: 20px;
    transition: 0.3s;
}

a {
    color: forestgreen;
    text-decoration: none;
    text-shadow: 7px -2px 2px gray;
    opacity: 0.5s;
    transition: 800ms 0.3s;
}

a:visited {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 7px -2px 2px gray;
    opacity: 0.5s;
    transition: 800ms 0.3s;
}

a:active {
    color: pink;
    background-color: green;
}