body {
    background-color: lavenderblush;
    color:firebrick;
    padding: 10px;
    font-size:13pt
}

header {
    background: linear-gradient(to right, red, orange, yellow, green, skyblue, blue, purple);
    color: lavenderblush;
    padding: 10px;
    font-size:13pt
}

footer {
    background: linear-gradient(to right, red, orange, yellow, green, skyblue, blue, purple);
    color: black;
    padding: 10px;
    font-size:13pt;
    text-align: right 
}

a {
    color: forestgreen;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}